@import "../../..//assets/variables";

:host::ng-deep {
    .table-roster {  
        width: 100%; 
        max-width: unset;
        td:nth-child(1), td:nth-child(2), th:nth-child(1) {
            width: 10%;      
            max-width: 120px !important;
        }
        tbody {
            tr:first-child {
                color : #151515;
                td:first-child {
                    color: #35ad79;
                }
            }
        }
    }
}