.box {
    text-align: center;
    top: 25vh;
}
h2 {
    margin-bottom: 30px;
    font-size: 18px;
    text-align: center;
}
img {
    max-height: 150px;
    margin: auto;
    margin-bottom: 30px;
}
form {
    text-align: left;    
    padding: 30px;
    background: #f4f4f4;
    border: 1px solid #ccc;    
}
